.bgHeight {
  height: 100vh;
  overflow-y: scroll;
}

.black {
  background-color: rgb(85, 101, 114);
}

.blue {
  background-color: rgb(91, 163, 183);
}

.brown {
  background-color: rgb(172, 141, 123);
}

.gray {
  background-color: rgb(188, 190, 203);
}

.green {
  background-color: rgb(146, 209, 180);
}

.pink {
  background-color: rgb(239, 196, 211);
}

.purple {
  background-color: rgb(111, 99, 150);
}

.red {
  background-color: rgb(244, 178, 134);
}

.white {
  background-color: rgb(251, 251, 251);
}

.yellow {
  background-color: rgb(246, 229, 133);
}

.rotating {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.testbutton {
  background-color: #0f2e0c;
  color: white;
}

.testbutton.clicked {
  background-color: #ba0202;
}
